body {background-color: lightblue;
	}

h1 {color: white; 
    font-family: "Times New Roman", serif;
    font-size: 300%;
    text-align: center;
}

h3 {color: red;
	font-family: "Courier", serif;
	font-weight:bold;
	text-align: left;
}

p {color: black
	font-size: 26px;

background-color: lightgrey;
    width: 850px;
    border: 25px black;
    padding: 25px red;
    margin: 25px yellow;
}

nav {padding:20px 0 20px 0; 
background-color: #595959
color: #ffffff;
list-style: none;
text-align: center;
}

nav li {display: inline-block;
padding-right: 50px;
}

nav li a {
	text-decoration: none;
	color: #ffffff;
}

nav li a:hover {
	color: #c1c1c1;
}


#par1a {
    margin: auto;
}

#para2 { 
margin: auto; }

table, th, td {
    border: 2px solid black;
   border-collapse: collapse;
}
th, td {padding: 10px;}
th {text-align: left;}
table {
    border-spacing: 
    10px;
}


.programmerpage {background-image:url(binary.jpg);
   }


/*for contact f0rm */

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Merriweather);
$red: #e74c3c;

*, 
*:before, 
*:after {
   @include box-sizing(border-box); 
}

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}

h1 {
   text-align: center;
   color: #a8a8a8;
   @include text-shadow(1px 1px 0 rgba(white, 1));
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
  
  input, textarea {
     border:0; outline:0;
     padding: 1em;
     @include border-radius(8px);
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     @include box-shadow(0 1px 1px rgba(black, 0.1));
     resize: none;
    
    &:focus {
       @include box-shadow(0 0px 2px rgba($red, 1)!important);
    }
  }
  
  #input-submit {
     color: white; 
     background: $red;
     cursor: pointer;
    
    &:hover {
       @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
    }
  }
  
  textarea {
      height: 126px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}